/target
/lists/*.txt
/pairs/
data/
/crates/duden-reference/graphs/
/crates/duden-reference/*.txt
/crates/duden-reference/*.log
!/crates/duden-reference/sheet-tasks.txt
*.pl
.bacon-locations
*.ignore
*.graph
*.data
__pycache__
